.service2 {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .boxes {

      .box{ 
        opacity: 0;
        transform: translateY(-200px);
        transition: all 0.6s ease-in-out;
        
        &.visible {
          opacity: 1;
          transform: translateY(0);
          
        }
      }
      @include mediaToUp(600px) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .box {
          width: 250px;
        }
      }
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .box {
        padding: 10px;

        img {
          margin-bottom: 20px;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 19px;
          display: block;
          text-transform: capitalize;
          color: #101a31;
        }
        p {
          color: #10285d;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 15px;
          font-weight: normal;
        }
      }
    }
  }
}
