
.tailorSection {
  padding-bottom: 20px;
  @include mediaToUp(992px) {
    height: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    max-width: 100%;
    width: 100%;
    @include mediaToUp(992px) {
      flex: 1;
    }
    img {
      width: 100%;
      @include mediaToUp(992px) {
        width: 600px;
      }
    }
  }
  .box {
    display: none;

    @include mediaToUp(992px) {
      position: relative;
      flex: 1.5;
      margin-left: -139px;
      padding-left: 137px;
      z-index: -1;
      display: block;
      background-color: #f2e1d9;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      height: 100%;

      h1 {
        color: #101a31;
        text-align: left;
        width: 344px;
        padding: 40px;
        font-size: 41px;
        align-self: flex-start;

        margin-top: 40px;
      }
      P {
        width: 100%;
        text-align: left;
        padding: 0 40px 40px;
        margin-top: -19px;
        font-size: 26px;
        line-height: 1.3;
        color: #010a79;
        opacity: 0.8;
      }
      p.lorem2 {
        margin-bottom: 41px;
        font-size: 18px;
        width: 100%;
        text-align: left;
        color: #2d5a99;
      }

      a {
        display: block;
        background-color: #c29981;
        padding: 20px 30px;
        color: #fff;
        font-size: 22px;
        margin-bottom: 50px;
      }
    }
  }
}
